
<%= form_for(@patient, html: {id: 'labnol'}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="speech">
  <% if !@patient.first_name? %>  
      <% f.label :first_name %><% content_for :speaker, "First Name" %>
      <%= f.text_field :first_name, id: 'transcript', placeholder: " First Name" %>
    
    
  
  <% elsif !@patient.last_name? %>
      <% f.label :last_name %><% content_for :speaker, "Last Name" %>
      <%= f.text_field :last_name, id: 'transcript', placeholder: " Last Name" %>
    
  
  <% elsif !@patient.age? %>
      <% f.label :age %><% content_for :speaker, "Age" %>
      <%= f.number_field :age, class: 'form-control', id: 'transcript', placeholder: " Age" %>
    
  
  <% elsif !@patient.address? %>      
      <% f.label :address %><% content_for :speaker, "Address" %>
      <%= f.text_field :address, class: 'form-control', id: 'transcript', placeholder: " Address" %>
    
  <% elsif !@patient.weight? %>  
      <% f.label :weight %><% content_for :speaker, "Weight in Pounds" %>
      <%= f.text_field :weight, class: 'form-control', id: 'transcript', placeholder: " Weight" %>
    
    
  <% elsif !@patient.gender? %>  
      <% f.label :gender %><% content_for :speaker, "Gender" %>
      <%= f.text_field :gender, class: 'form-control', id: 'transcript', placeholder: " Gender" %>
    
  
  <% end %>
  
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  
  <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
    </div>
    <br/><br/>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'home/voice_stuff' %>