
<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@patient.first_name? %>  
    <div class="form-group">
      <% f.label :first_name %><br>
      <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name" %>
    </div>
  
    
  
  <% elsif !@patient.last_name? %>
    <div class="form-group">
      <% f.label :last_name %><br>
      <%= f.text_field :last_name, autofocus: true, class: 'form-control', placeholder: "Last Name" %>
    </div>
  
  <% elsif !@patient.age? %>
    <div class="form-group">
      <% f.label :age %><br>
      <%= f.number_field :age, autofocus: true, class: 'form-control', placeholder: "Age" %>
    </div>
  
  <% elsif !@patient.address? %>      
    <div class="form-group">
      <% f.label :address %><br>
      <%= f.text_field :address, autofocus: true, class: 'form-control', placeholder: "Address" %>
    </div>
    
  <% elsif !@patient.weight? %>  
    <div class="form-group">
      <%= f.label :weight %><br>
      <%= f.text_field :weight, autofocus: true, class: 'form-control', placeholder: "Weight" %>
    </div>
    
  <% elsif !@patient.gender? %>  
    <div class="form-group">
      <%= f.label :gender %><br>
      <%= f.text_field :gender, autofocus: true, class: 'form-control', placeholder: "Gender" %>
    </div>
  
  <% end %>
  
  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
  
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
